#landing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin-bottom: 100px;
}

#landing-pic img {
    height: 800px;
    width: auto;
}

#about {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-me {
    width: 50vw;
    max-width: 500px;
    padding: 2rem;
    margin-bottom: 5rem;
}

#learn-more {
    width: fit-content;
    padding: 0.5rem 1.5rem;
    color: #fff;
    text-decoration: none;
    letter-spacing: 3px;
    transition: 0.25s ease-in-out;
}
#learn-more:hover {
    padding: 0.8rem 2rem;
    border-radius: 20px;
}

@media (max-width: 1150px) {
    #landing {
        height: 100vh;
        max-height: 800px;
    }

    #landing-pic img{
        height: auto;
        max-width: 50vw;
    }
}

@media (max-width: 1050px) {
    #landing-pic img{
        display: none;
    }

    #about-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #about-me {
        width: 80vw;
        max-width: none;
    }

    #landing {
        margin-bottom: 0px;
    }
}


@media (max-width: 550px) {
    #about-me {
        width: 100vw;
    }

    #about-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
