#projects {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    margin-bottom: 100px;
}

#project-collage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 100px;
    padding-right: 50px;
}

.collage {
    cursor: pointer;
    transition: all 0.5s ease-in-out; 
}

.collage:hover {
    transform: scale(1.1);
    z-index: 100;
}

#primath {
    width: 400px;
}

#umbella {
    width: 400px;
    margin-top: -50px;
    margin-right: 50px;
    align-self: flex-end;
}

#bas-cal {
    height: 70%;
    width: 198px;
    margin-top: -80px;
    align-self: flex-start;
}

#project-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.head-text a {
    display: inline-block;
    position: relative;
    margin-left: 0.5rem;
}

.head-text a::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.head-text a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#project-description {
    margin-left: 1rem;
    padding: 1.5rem 3rem;
    width: 50vw;
    max-width: 500px;
}

span {
    font-size: 25px;
}

#calc-emoji {
    font-size: 40px;
}

@media (max-width: 1400px) {
    #project-container {
        margin-right: 100px;
    }
}

@media (max-width: 1300px) {
    #umbella {
        margin-left: 50px;
    }
}

@media (max-width: 1150px) {
    #projects {
        flex-direction: column;
    }

    #project-collage {
        width: 670px;
        padding-top: 0px;
    }

    #umbella {
        margin-left: 1000px;
    }

    #project-container {
        margin-right: 0px;
    }

    #project-description {
        margin-left: 0px;
        width: 80vw;
        max-width: none;
    }
}


@media (max-width: 550px) {
    #primath {
        width: 300px;
    }

    #project-collage {
        width: 670px;
        padding-bottom: 50px;
    }

    #umbella {
        width: 300px;
    }

    #bas-cal {
        width: 190px;
    }

    #project-description {
        width: 100vw;
    }
}

@media (max-width: 480px) {
    #project-collage {
        display: none;
    }
}